.anchor {
    font-size: 1.8rem;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: hsl(240 100% 75%);
    border-radius: 10px;
    border: 1px solid black;
    padding: 3px;
    margin-left: 100px;
    margin-top: 100px;
  }
  
  .anchor {
    anchor-name: --myAnchor;
    width: fit-content;
  }
  
  .infobox {
    color: darkblue;
    background-color: azure;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
  }
  
  .infobox {
    position: fixed;
    position-anchor: --myAnchor;
    left: anchor(left);
    
    inset-block-end: anchor(top);
  }
  